@import 'tailwindcss';

@plugin 'daisyui' {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: #ffffff;
  --color-base-200: #f5f5f5;
  --color-base-300: #e5e5e5;
  --color-base-content: #1a1a1a;
  --color-primary: #8989d8ff;
  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  --color-accent-content: #ffffff;
  --color-neutral: #3d4451;
  --color-neutral-content: #ffffff;
  --color-success: #10b981;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #000000;
  --color-error: #ef4444;
  --color-error-content: #ffffff;
}

:root {
  --font-workSans: 'Work Sans', sans-serif;
}

.font-workSans {
  font-family: var(--font-workSans);
}
